<script lang="ts">
import { signIn } from '@aws-amplify/auth';

export default {
  data() {return {
    email: '',
    password: '',

    rules: {
      email: (content: string) => content.match(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/) !== null,
      passwordLength: (content: string) => content.length >= 8,
      passwordUpper: (content: string) => content.match(/[A-Z]/) !== null,
      passwordLower: (content: string) => content.match(/[a-z]/) !== null,
      passwordNumber: (content: string) => content.match(/[0-9]/) !== null
    }
  }},
  methods: {
    async login() {
      const { isSignedIn, nextStep } = await signIn({
        username: this.email,
        password: this.password
      });

      if (isSignedIn) {
        this.$router.push('/dashboard/overview')
      } else {
        console.log(nextStep)
      }
    }
  }
}
</script>

<template lang="pug">
main(class="flex flex-col items-center justify-center h-screen")
  container.login(class="flex flex-col items-center justify-center bg-slate-50 shadow-xl rounded-xl p-8")
    h1(class="text-5xl font-bold mb-4") FacePay
    p(class="text-2xl my-2") Login to your account
    input(type="text" v-model="email" placeholder="Email" class="input mb-2")
    p(v-if="!rules.email(email) && email.length > 0" class="text-red-500") Invalid email address
    input(type="password" v-model="password" placeholder="Password" class="input mb-2")
    .passwordValid(class="flex flex-col items-start justify-start mb-2 mt-2" v-if="!rules.email(email) || !rules.passwordLength(password) || !rules.passwordUpper(password) || !rules.passwordLower(password) || !rules.passwordNumber(password)")
      p(v-if="!rules.passwordLength(password)") 8 characters
      p(v-if="!rules.passwordUpper(password)") 1 uppercase letter
      p(v-if="!rules.passwordLower(password)") 1 lowercase letter
      p(v-if="!rules.passwordNumber(password)") 1 number
    button(class="button relative inline-block shadow-lg !text-2xl" @click="login") Login
    p(class="mt-4") Don't have an account? Register <RouterLink to="/register" class="text-blue-500 link underline-blue inline-block relative">here</RouterLink>
  
</template>

<style scoped lang="sass">
h1
  font-family: 'Gruppo', sans-serif
  font-weight: 200
  color: #000
  margin: 0
  padding: 0

*
  font-family: 'Montserrat', sans-serif
  font-weight: 300

input
  border: 1px solid #000
  border-radius: 4px
  padding: 8px
  width: 100%
  outline: none

button
  border-radius: 4px
  padding: 8px
  width: 100%
  outline: none
  background-color: #007bff
  color: #fff
  cursor: pointer
  font-family: 'Gruppo', sans-serif

.passwordValid
  width: 100%
  p
    font-size: 12px
    color: #ff0000
    margin: 0
    padding: 0
</style>