<script lang="ts">
import { signUp } from '@aws-amplify/auth';

export default {
  data() {return {
    firstName: '',
    lastName: '',
    isNameValid: true,
    email: '',
    password: '',
    confirmPassword: '',
    isPasswordMatch: true,

    rules: {
      email: (content: string) => content.match(/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/) !== null,
      passwordLength: (content: string) => content.length >= 8,
      passwordUpper: (content: string) => content.match(/[A-Z]/) !== null,
      passwordLower: (content: string) => content.match(/[a-z]/) !== null,
      passwordNumber: (content: string) => content.match(/[0-9]/) !== null,
      passwordSymbol: (content: string) => content.match(/[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]/) !== null
    }
  }},
  methods: {
    async register() {
      try {
        await signUp({
          username: this.email,
          password: this.password,
          options: {
            userAttributes: {
              email: this.email,
              given_name: this.firstName,
              family_name: this.lastName
            }
          }
        })

        this.$router.push('/verify/' + this.email)
      } catch (err) {
        console.log(err)
      }
    },

    nameValid() {
      if (this.firstName.length > 0 && this.lastName.length > 0) {
        this.isNameValid = true
      } else {
        this.isNameValid = false
      }
    }
  },
  watch: {
    confirmPassword() {
      console.log("updated")
      if (this.password !== this.confirmPassword) {
        this.isPasswordMatch = false
      } else {
        this.isPasswordMatch = true
      }
    },

    firstName() {
      this.nameValid()
    },

    lastName() {
      this.nameValid()
    }
  }
}
</script>

<template lang="pug">
main(class="flex flex-col items-center justify-center flex-grow")
  .login(class="flex flex-col items-center justify-center rounded-xl p-8 w-full h-full md:w-fit md:h-fit md:bg-slate-50 md:shadow-xl")
    h1(class="text-5xl font-bold mb-4") FacePay
    p(class="text-2xl my-2") Register for an account
    .givenNameInput(class="flex flex-row justify-between w-full mb-2")
      input(type="text" v-model="firstName" placeholder="First Name" class="input mr-1")
      input(type="text" v-model="lastName" placeholder="Last Name" class="input ml-1")
    p(v-if="!isNameValid" class="text-red-500 mb-2 text-sm") <FaIcon icon="exclamation-circle" class="mr-2" />Required
    input(type="text" v-model="email" placeholder="Email" class="input")
    p(v-if="!rules.email(email) && email.length > 0" class="text-red-500 mt-1 text-sm") <FaIcon icon="exclamation-circle" class="mr-2" />Invalid email address
    input(type="password" v-model="password" placeholder="Password" class="input my-2")
    .passwordValid(class="flex flex-col items-center justify-center mb-2" v-if="(!rules.passwordLength(password) || !rules.passwordUpper(password) || !rules.passwordLower(password) || !rules.passwordNumber(password) || !rules.passwordSymbol(password)) && password.length > 0")
      p(v-if="!rules.passwordLength(password)") <FaIcon icon="exclamation-circle" class="mr-2" />8 characters
      p(v-if="!rules.passwordUpper(password)") <FaIcon icon="exclamation-circle" class="mr-2" />1 uppercase letter
      p(v-if="!rules.passwordLower(password)") <FaIcon icon="exclamation-circle" class="mr-2" />1 lowercase letter
      p(v-if="!rules.passwordNumber(password)") <FaIcon icon="exclamation-circle" class="mr-2" />1 number
      p(v-if="!rules.passwordSymbol(password)") <FaIcon icon="exclamation-circle" class="mr-2" />1 symbol
    input(type="password" v-model="confirmPassword" placeholder="Confirm Password" class="input mb-2")
    .passwordValid(class="flex flex-col items-center justify-center mb-2" v-if="!isPasswordMatch")
      p <FaIcon icon="exclamation-circle" class="mr-2" />Passwords do not match
    button(class="button relative inline-block shadow-lg !text-2xl" @click="register") Register
    p(class="mt-4") Don't have an account? Register <RouterLink to="/register" class="text-blue-500 link underline-blue inline-block relative">here</RouterLink>
  
</template>

<style scoped lang="sass">
h1
  font-family: 'Gruppo', sans-serif
  font-weight: 200
  color: #000
  margin: 0
  padding: 0

*
  font-family: 'Montserrat', sans-serif
  font-weight: 300

input
  border: 1px solid #000
  border-radius: 4px
  padding: 8px
  width: 100%
  outline: none

button
  border-radius: 4px
  padding: 8px
  width: 100%
  outline: none
  background-color: #007bff
  color: #fff
  cursor: pointer
  font-family: 'Gruppo', sans-serif

.passwordValid
  width: 100%
  p
    font-size: 12px
    color: #ff0000
    margin: 0
    padding: 0
</style>