<script lang="ts">
import { confirmSignUp } from '@aws-amplify/auth';

export default {
  data() {return {
    code: ''
  }},
  methods: {
    verify() {
      confirmSignUp({
        username: this.$route.params.email[0],
        confirmationCode: this.code
      })
        .then(() => {
          this.$router.push('/login')
        })
        .catch((err: any) => {
          console.log(err)
        })
    }
  }
}
</script>

<template lang="pug">
main(class="flex flex-col items-center justify-center h-screen")
  container.login(class="flex flex-col items-center justify-center bg-slate-50 shadow-xl rounded-xl p-8")
    h1(class="text-5xl font-bold mb-4") FacePay
    p(class="text-xl my-2") A code has been sent to your email address
    p(class="text-2xl my-2") Please enter it below
    input(type="text" v-model="code" placeholder="Code" class="input mb-2")
    button(class="button relative inline-block text-2xl" @click="verify") Verify

</template>

<style scoped lang="sass">
h1
  font-family: 'Gruppo', sans-serif
  font-weight: 200
  color: #000
  margin: 0
  padding: 0

*
  font-family: 'Montserrat', sans-serif
  font-weight: 300

input
  border: 1px solid #000
  border-radius: 4px
  padding: 8px
  width: 100%
  outline: none

button
  border-radius: 4px
  padding: 8px
  width: 100%
  outline: none
  background-color: #007bff
  color: #fff
  cursor: pointer
  font-family: 'Gruppo', sans-serif
</style>

