@tailwind base
@tailwind components
@tailwind utilities

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
    
body
    margin: 0

#app
    display: flex
    flex-direction: column
    min-height: 100vh

main
    margin: 0 auto
    flex-grow: 1
    width: 100%

.link
    &::after
        content: ''
        position: absolute
        left: calc(50% - 37.5%)
        bottom: 0
        width: 75%
        height: 1px
        background-color: #000
        transform-origin: bottom right
        transform: scaleX(0)
        transition: transform 0.3s ease-in-out

    &:hover::after
        transform: scaleX(1)
        transform-origin: bottom left

.underline-blue
    &::after
        background-color: rgb(59 130 246)

.button
    &:hover
        cursor: pointer