<script lang="ts">
import { RouterLink, RouterView } from 'vue-router'

import { getCurrentUser } from '@aws-amplify/auth'

export default {
  components: {
    RouterLink,
    RouterView
  },
  computed: {
    route() {
      return this.$route.path.toString()
    }
  },
  data() {return {
    user: null as any
  }},
  mounted() {
    try {
      getCurrentUser().then((user) => {
        this.user = user
      })
    } catch (err) {
      console.log(err)

      this.$router.push('/login')
    }
  },
  methods: {
    switchPage(page: string) {
      this.$router.push(page)
    }
  }
}
</script>

<template lang="pug">
header(class="px-4 py-2 flex items-center" v-if="!route.includes('login') && !route.includes('register')")
  p(class="title text-5xl w-fit")
    | FacePay

  nav.dashboardNavbar(v-if="route.includes('dashboard')")
    p(class="text-3xl link tab-link w-fit inline-block relative cursor-pointer select-none mr-4" :aria-current="route.includes('overview') ? 'page' : ''" @click="switchPage('/dashboard/overview')")
      | Overview
    p(class="text-3xl link tab-link w-fit inline-block relative cursor-pointer select-none mr-4" :aria-current="route.includes('transactions') ? 'page' : ''" @click="switchPage('/dashboard/transactions')")
      | Transactions
    p(class="text-3xl link tab-link w-fit inline-block relative cursor-pointer select-none" :aria-current="route.includes('wallet') ? 'page' : ''" @click="switchPage('/dashboard/wallet')")
      | Wallet

  p {{ user }}

  


RouterView
</template>

<style scoped lang="sass">
header
  background-color: #fff
  display: flex

.title
  font-family: 'Gruppo', sans-serif
  font-weight: 200
  color: #000
  margin: 0
  padding: 0
  display: inline-block

nav.dashboardNavbar
  margin-left: auto


.tab-link
  font-weight: 200
  font-family: 'Gruppo', sans-serif
  text-decoration: none

  &[aria-current="page"]::after
    transform: scaleX(1)
    transform-origin: bottom left
</style>
